/* Set the size of the div element that contains the map */
body {
    background-color: aqua;
}
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 800px;
    /* The width is the width of the web page */
}
.btn1 {
    width: 400px;
}
.fully {
    width: 100%;
}
.half_size {
    width: 48%;
}
