<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Recipe</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex justify-content-between align-items-center col-12">
        <h1 class="text-center">Hello: {{user.first_name}}!!!</h1>
        <div class="d-flex col-4 justify-content-around">
            <a href="/dashboard" class="btn btn-dark">Dashboard</a>
            <a href="/logout" class="btn btn-dark">Logout</a>
        </div>
    </div>
    <div class="col-8 my-5 mx-auto bg-dark text-light">
        <div class="p-5">
            <h1 class="text-light my-5">{{recipe.name}}</h1>
            <p class="my-5">Made On:  {{recipe.date_made.strftime('%Y-%m-%d')}}</p>
            <p class="my-5">Under 30 Minutes:
                {%  if recipe.under30min == 1 %}
                Yes
                {% else %}
                No
                {% endif %}
            </p>
            <p class="my-5">Description:  {{recipe.description}}</p>
            <p class="my-5">Instructions:  {{recipe.instructions}}</p>
        </div>
    </div>
</body>
</html>