<!DOCTYPE html>
<html lang="en" translate="no">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google" content="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Dojos and Ninjas</title>
</head>
<body>
    <div class="containerx">
        <div class="adddojo">
        <form action="/new/dojo" method="post">
            <h1>Add Dojo</h1>
            <div>
                <label for="name">Dojo Name:</label>
                <input type="text" name="name">
            </div>
            <input type="submit" value="Add Dojo" class="btn">
        </form>
        </div>
        <div class="alldojos">
            <h1>All Dojos</h1>
            {% for dojo in dojos %}
            <p> 
                <a href="/dojo/{{dojo.id}}">{{dojo.name}}</a>
            </p>
            {% endfor %}
        </div>
    </div>
    <div class="center"><a href="/ninjas" class="btn">Add Ninja</a></div>
</body>
</html>